html {
  height: 100%;
  width: 100%;
}
body{
  background-color: pink;
  margin: 0px;
  padding: 0px;
}

#navbar{
  background-color: lightgoldenrodyellow;
  text-align: center;
  font-size:2em;
  color:pink;
  padding-top:2vh;
  padding-bottom:2vh;
}
h1{
  text-align:center ;
  color:white;
}

p{
  text-align: center;
  color:white;
}
img{
  margin-left:6vh;
  
}